<h1>Will I Fly?</h1>
<p>This tool is offered without warranty. You should always check with your carrier first and not rely on this FREE service.</p>
<p>Jersey TAF is : </p>
<p><%= @taf %> </p>
<br>
<h2><%= @flystatus %></h2>
